html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Montserrat Thin", sans-serif;
  font-size: 100%;
  min-height: 100%;
  line-height: 1.5;
  padding: 2.5em 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  border-radius: 8px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.grid-1-4 {
  border: 2px solid #cf2e2e;
  min-height: 600px;
  padding: 1.25em;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in-out;
  flex: 1 1 20%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid-1-4:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(207, 46, 46, 089),
    rgba(124, 21, 21, 0.9)
  );
  transform: scale(1.025);
  z-index: 2;
  color: #fff;
}

.grid-1-4:hover .addon-options {
  background-image: linear-gradient(
    top to bottom right,
    #cf2e2e 100%,
    #7c1515 0%
  );
  border-style: none;
  transition: all 0.2s;
}

/* Hover effect for grid and addon options */
.grid-1-4:hover h3,
.grid-1-4:hover p,
.grid-1-4:hover .addon-option label,
.grid-1-4:hover .list-item,
.grid-1-4:hover .addon-options h3,
.grid-1-4:hover .addon-options .list-item,
.grid-1-4:hover .addon-options p {
  color: #fff; /* Change text color to white */
}

.grid-1-4:hover::before,
.grid-1-4:hover::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  width: 2px;
}

.grid-1-4:hover::before {
  left: -2px;
}

.grid-1-4:hover::after {
  right: -2px;
}

.button {
  color: #fff;
  border-radius: 9px;
  background-color: #cf2323;
  font-size: 1em;
  font-weight: 500;
  padding: 0.75em 1.5em;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover,
.button:active {
  color: #fff;
  border-bottom: 1px solid transparent;
  box-shadow: inset 0 0 5px #333;
}

.uppercase,
.button,
h2 {
  text-transform: uppercase;
}

sup,
.small {
  font-size: 0.6125em;
}

h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 2em;
  letter-spacing: 0.0625em;
  margin: 0 0 0.3333333333333333em;
}

p {
  font-size: 1em;
  margin: 0 0 2rem;
  color: #cf2323;
  font-weight: 500;
  letter-spacing: 1.5;
}

p,
ul {
  margin: 0 0 1.5em;
  letter-spacing: 1.5;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-left: 0;
  margin-left: 0;
  margin-top: 2rem;
  letter-spacing: 1.5;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.75em;
  letter-spacing: 1.5;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
}

.list-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #ff6900;
  line-height: 1.2;
}

.addon-options {
  background-color: transparent;
  padding: 20px;
  border-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: border-image 0.3s ease;
}

.addon-options h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 2rem;
  color: #cf2323;
  font-weight: inherit;
  letter-spacing: 1.5;
}

.addon-option {
  display: flex;
  flex-direction: column; /* Stack the label above the input */
  align-items: flex-start;
  margin-bottom: 15px;
}

.addon-option label {
  font-size: 0.89em;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  margin-bottom: 5px;
  letter-spacing: 1.5;
}

.addon-option input[type="number"] {
  width: 60px;
  height: 30px;
  margin-top: 5px; /* Adds a small gap between label and input */
}

.start {
  font-size: small;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom {
  margin-bottom: 8rem;
  /* padding-top: 18rem; */
  padding-bottom: 6rem;
}
