body {
  font-family: "Noto Sans", sans-serif;
  background-color: #667a8f;
  margin: 0;
  padding: 20px;
}

.pricing-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #99a7b4;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 400;
}

.pricing-form {
  background-color: #667a8f;
  padding: 50px;
  border-radius: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns for four cards */
  gap: 40px; /* Increased space between the columns */
  grid-auto-rows: 1fr; /* Ensures cards are stretched equally in height */
}

.card {
  padding: 30px;
  font-weight: 400;
  border-radius: 8px;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #8091a2;
  min-height: 400px; /* Set a minimum height to prevent collapsing */
  box-sizing: border-box;
}

.card h2 {
  margin-bottom: 20px;
  color: #99a7b4;
  font-size: 1.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-row label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 400;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.8;
}

select {
  width: 100%; /* Ensure the select element takes up full width of its container */
  padding: 1rem;
  font-size: 1.2rem;
  height: 30px;
  background-color: #fff;
  color: #333333d0;
  border: none;
  border-radius: 5px;
  line-height: 1.8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.total {
  margin-top: 30px;
}

.total p {
  font-size: 20px;
  font-weight: bold;
  color: #002244;
}

.addon-options {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
}

.addon-options h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #99a7b4;
  font-weight: 500;
}

.addon-option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.addon-option input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.addon-option label {
  font-size: 16px;
  color: #333333d0;
  cursor: pointer;
}

.addon-option input[type="checkbox"]:checked + label {
  font-weight: bold;
  color: #4caf50;
}

@media (max-width: 800px) {
  .pricing-form {
    padding: 30px;
  }

  .form-grid {
    grid-template-columns: 1fr; /* Stack the cards vertically on smaller screens */
  }

  .card {
    margin-bottom: 30px;
  }
}

label .ip {
  color: #667a8f;
}
